{% load static %}

<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="index.html">
      <span class="align-middle">Dashboard</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">
        Pages
      </li>

      <li class="sidebar-item active">
        <a class="sidebar-link" href="{% url 'cms:DashboardView' %}">
          <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="{% url 'cms:ProfileView' %}">
          <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="{% url 'users:LogoutView' %}">
          <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Sign out</span>
        </a>
      </li>

      {% comment %} <li class="sidebar-item">
        <a class="sidebar-link" href="{% url 'users:LoginView' %}">
          <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Sign In</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="{% url 'users:Sign_upView' %}">
          <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Sign Up</span>
        </a>
      </li> {% endcomment %}

    </ul>

  </div>
</nav>