{% load static %}

<footer>
  <div class="footer-wrapper">

    <div class="about-us">
      <div class="container">
        <div>
          <ul>
            <h6>Educational Tools</h6>
            <li>learning Library</li>
            <li>Worksheets</li>
            <li>Games</li>
            <li>Lesson plans</li>
          </ul>
        </div>
        <div>
          <ul>
            <h6>Support</h6>
            <li>Help center</li>
            <li>Pricing</li>
            <li>Get a Qoute</li>
            <li>Give Gift</li>
          </ul>
        </div>
        <div>
          <ul>
            <h6>Connect</h6>
            <li>Blog</li>
            <li>Tell us what you think</li>
          </ul>
        </div>
        <div>
          <ul>
            <h6>About</h6>
            <li>Company</li>
            <li>career</li>
            <li>Press</li>
            <li>Reviews</li>
            <li>Privacy Policy</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="social-media-links">
      {% comment %} <ul>
        <li><img src="./images/facebook.svg" alt="facebook"></li>
        <li><img src="./images/instagram.svg" alt="instagram"></li>
        <li><img src="./images/pinterest.svg" alt="pinterest"></li>
        <li><img src="./images/whatsapp.svg" alt="whatsapp"></li>
      </ul> {% endcomment %}
      <p class="mb-0">Copyright@2023 StepInEducation.com, All Rights Reserverd.</p>
    </div>
  </div>
</footer>